.eventFilter {
	display: flex;
	align-items: center;
	.button {
		margin-right: 4px;
		margin-bottom: 4px;
		border: none;
		padding: 9px 8px;
		font-size: 14px;
		line-height: 20px;
		cursor: pointer;
		border-radius: 4px;
		align-items: center;
		font-family: Roboto, sans-serif;
		cursor: pointer;
		color: rgba(0, 0, 0, 0.865);
	}
	.active {
		background: #ec6652;
		color: #fff;
	}
}
