.wrapper {
	max-width: 1152px;
	margin: 0 auto;
	width: 100%;
	margin-top: 30px;

	.eventTitle {
		font-size: 28px;
		line-height: 33px;
	}
	.eventImage {
		display: flex;
		align-items: center;
		img {
			border-radius: 12px;
			width: 1094px;
			height: 410px;
		}
	}
}
