.wrapper {
	max-width: 1152px;
	margin: 0 auto;
	width: 100%;
	margin-top: 30px;
	.eventContent {
		padding: 20px;
		display: flex;
		.eventPoster {
			img {
				max-width: 658px;
				max-height: 930px;
			}
			display: flex;
			align-items: center;
			justify-content: center;
			margin-top: 60px;
			border-radius: 10px;
			width: 70%;
		}
		.data {
			margin-top: 60px;
			display: flex;
			flex-direction: column;
			gap: 30px;
			margin-bottom: 180px;
			font-size: 14px;
		}
	}

	.discription {
		font-family: Roboto, sans-serif;
		color: #000;
		background: #fff;
		font-size: 16px;
		line-height: 180%;
		margin-top: 80px;
		word-wrap: break-word;
		margin-bottom: 170px;
	}

	.eventTitle {
		font-weight: 900;
		display: flex;
		justify-content: center;
		position: absolute;
		z-index: 1;
		bottom: 50px;
		left: 30px;
		color: #fff;
		font-size: 28px;
		line-height: 33px;
	}
	.eventImage {
		display: flex;
		align-items: center;
		position: relative;
		img {
			border-radius: 12px;
			width: 1094px;
			height: 410px;
		}
	}
}
